{% load static %}

<link rel="stylesheet" href="{% static 'css/introduccion.css' %}">

<a class="anchor" id="home"></a>
<div id="splash" class="container-fluid">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1>Juan Felipe Daza</h1>
      <hr />
      <p>
        Full Stack Web Developer
      </p>
      <p>
        <a href="https://github.com/MasterOnly23" target="_blank"><i class="fa fa-github-square fa-2x"></i></a>
        <a href="https://www.linkedin.com/in/juan-felipe-daza-a01354227/" target="_blank"><i class="fa fa-linkedin-square fa-3x"></i></a>
        <a href="https://twitter.com/masteronly23" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a>
      </p>
    </div>
  </div>
</div>